<form method="GET" action="/index">
    <button type="submit">Назад</button>
</form>
<!--<form method="GET" action="/accepting">-->
<!--    <button type="submit">Вперед</button>-->
<!--</form>-->
<form method="POST" action="/add">
<table>
    <tr>
        <td>
            <input type="text" name="name" placeholder="Введите имя">
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" name="surname" placeholder="Введите фамилию">
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" name="mid_name" placeholder="Введите отчество">
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" name="passport" placeholder="Введите номер и серию пасспорта">
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" name="family_status" placeholder="Введите семейное положение">
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" name="address" placeholder="Введите адрес прописки">
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" name="number" placeholder="Введите контактный телефон">
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" name="organization" placeholder="Введите название организации, в которой работаете">
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" name="post" placeholder="Введите вашу должность">
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" name="work_time" placeholder="Введите период вашей работы (в месяцах)">
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" name="credit_sum" placeholder="Введите сумму желаемого кредита">
        </td>
    </tr>
    <tr>
        <td>
            <button type="submit">Добавить</button>
        </td>
    </tr>
</table>
</form>