<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<div>
    <table>
        <tr>
            <td>
                <form action="/add">
                    <button type="submit">Добавление</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/displayAll">
                    <button type="submit">Показать всех клиентов</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>