<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<div>
    <form method="POST" action="/">
        <input type="text" name="name" placeholder="Введите имя">
        <input type="text" name="surname" placeholder="Введите фамилию">
        <input type="text" name="mid_name" placeholder="Введите отчество">
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список людей</div>
<table>
    <tr th:each="peopleinfo : $(peopleinfos)">
        <td th:utext="$(peopleinfo.name)">..</td>
        <td th:utext="$(peopleinfo.surname)">..</td>
        <td th:utext="$(peopleinfo.mid_name)">..</td>
    </tr>
</table>
<div>
    <b>{{name}}</b>
    <span>{{surname}}</span>
    <i>{{mid_name}}</i>
</div>
</body>
</html>