<head>
    <meta charset="UTF-8">
    <title>Страница результатов поиска</title>
</head>
<form method="GET" action="/search">
    <button type="submit">Назад</button>
</form>
<table border="1">
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
        <th>Статус заявки</th>
    </tr>
    <tr th:each="peopleinfo:${peopleinfos}">
        <td th:text="${peopleinfo.getName()}">
        <td th:text="${peopleinfo.getSurname()}">
        <td th:text="${peopleinfo.getMid_name()}">
        <td th:text="${peopleinfo.getCreditStat()}">
    </tr>
</table>