<head>
    <meta charset="UTF-8">
    <title>Страница поиска</title>
</head>
<form method="GET" action="/index">
    <button type="submit">Назад</button>
</form>
<form method="POST" action="/searchResult">
<table>
    <tr>
        <td>
            <input type="text" name="name" placeholder="Введите имя">
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" name="surname" placeholder="Введите фамилию">
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" name="mid_name" placeholder="Введите отчество">
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" name="number" placeholder="Введите номер телефона">
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" name="passport" placeholder="Введите пасспортные данные">
        </td>
    </tr>
    <tr>
        <td>
            <button type="submit">Найти</button>
        </td>
    </tr>
</table>